body {
  background-color: #fdebe3;
  font-family: 'Barriecito';
}

.text {
  color: #ecd9e8;
  text-align: center;
  font-weight: 900;
}

.div1 {
  text-align: center;
}

.div2 {
  display: inline-block;

}

.text:hover {
  color: green;
}

#second {
  color: purple;
}

.butter {
  color: blue;
}
